.nav {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid var(--header-nav);
    border-radius: 10px;  
    opacity: 0.7;  
    background-color: var(--header-nav);
    transition: all 0.3s ease;
    text-align: center;

}

.nav:hover {
    opacity: 1;  
    text-align: center;
    transform: scale(1.05);
    transform-origin: center center;
}

.active {
    border: 1px solid var(--header-nav-active);
    color: var(--header-nav-active);
    box-shadow: 0 0 10px var(--header-nav-active);
}