* {
  box-sizing: border-box !important;
}

html,
body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: Inter, sans-serif !important;
    scroll-behavior: smooth !important;
}

h1 {
  font-size: 3.5rem !important;
  font-weight: 600 !important;
}

h2 {
  font-size: 3.5rem !important;
  font-weight: 600 !important;

}

h3 {
  font-size: 2.5rem !important;
  font-weight: 600 !important;

}

h4 {
  font-size: 2rem !important;
  font-weight: 500 !important;

}

h5 {
  font-size: 1.5rem !important;
  font-weight: 600 !important;

}
h1, h2, h3, h4, h5, a, p, span, li {
  color: var(--white) !important;
  text-decoration: none !important;
  margin: 0 !important;


}

a, span {
  font-size: 0.875rem !important;
  line-height: 0.875rem !important;
}

p {
  font-size: 1rem !important;
  line-height: 1rem !important;

}

:root {
    --header-bg: #0D0D0D;
    --header-nav: #191919;
    --header-nav-active: #b1d2fb;
    --white:#FFFFFF;
    --primary: #6654D3;
    --primary-gradient: linear-gradient(90deg, #4386f8 0%, #a84ef5 100%);
    --primary-hover-gradient: linear-gradient(90deg, #3478ec 0%, #a140f6 100%);
    --green: #79EEA5;
    --yellow: #FFDF20;
    --red: #d60808;
}